
ul {
    padding: 10px;

}

li {
    display: inline;
    list-style: none;
    #border: 1px solid black;
    #background-color: honeydew;
    #height: auto;

}


li a {

    text-decoration: none;

    margin-inline: 10px;
    padding-inline: 10px;
    color: royalblue;
    font-size: 2em;

    height: 30px;
    width: 100px;
    border: 2px solid black;

    background-color: honeydew;
}