
header{
    font-size: medium;
}

body{

    /*background-image: url("/img/background.jpg");*/
    /*eight: 500px;*/
    /*background-position: center;*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    /*position: relative;*/
    /*margin: unset;*/


    font-family:arial, "lucida console", sans-serif;



}
.grid-container {
    display: grid;
    grid-template-columns: 10% 22% 22% 22% 22%;
    grid-auto-rows: 12em 25em 25em 8em; /* Adjusted row heights */
    grid-template-areas: 
        'header  header header header header'
        'menu  drei drei vier vier'
        'menu  fünf fünf sechs sechs'
        'menu  footer footer footer footer';   
    
    /*background-color: lightblue;*/
}  

.item-1 { grid-area: header; }
.sidebar { 
    grid-area: menu;    
 }

  /* anpassung der Artikel  bild unt Text horizontal oder vertikal?  */
#item-3,#item-6 ,#item-5 , #item-4  {  display: flex;
    margin-left: 1em;
    padding: 2em;
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3.5px );
    -webkit-backdrop-filter: blur( 3.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    color: black;
    animation-fill-mode: forwards;
    animation-duration: 250ms;}

#item-3::before{
    box-shadow: inset 0 0 200px rgba(255, 255, 255, .5);
}
#item-4::before{
    box-shadow: inset 0 0 200px rgba(255, 255, 255, .5);
}
#item-5::before{
    box-shadow: inset 0 0 200px rgba(255, 255, 255, .5);
}
#item-6::before{
    box-shadow: inset 0 0 200px rgba(255, 255, 255, .5);
}
#item-3 {grid-area: drei;}
#item-4 { grid-area: vier; }
#item-5 { grid-area: fünf;  }
#item-6 { grid-area: sechs;  }
.item-7 { grid-area: footer; display: flex; justify-content: space-evenly; align-items: center;  }

.article {

}

 /* ######################### */
.grid-container > div {
  /*background-color: lightseagreen;*/
  text-align: center;
  

  margin: 1px;
}
nav{
    display: flex;
    justify-content: space-evenly;
    
    
}

/*li {*/
/*    width: 15%;*/
/*    height: 40px;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/

/*    !*font-size: 1.0em;*!*/
/*    */
/*    list-style: none;*/
/*    border-color: blue;*/
/*    border-width: 1px;*/
/*    border-style: dashed;*/
/*    background-color: blueviolet;*/
/*}*/
/*li a {*/
/*    text-decoration: none;*/
/*    color: black;*/
/*}*/


li {
    /*  width: 90%; */
    margin-left: 1em;

    padding: 2em;
    display: flex;

    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3.5px );
    -webkit-backdrop-filter: blur( 3.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    color: aliceblue;
    animation-fill-mode: forwards;
    animation-duration: 250ms;
}

li::before  {
    box-shadow: inset 0 0 200px rgba(255, 255, 255, .5);
}
li a {
    text-decoration: none;
    color: black;
}